body {
    font-family: 'Roboto', sans-serif;
}


.mood-list {
     border: 1px solid black;
    padding:5px;
        
    .mood {
        border: 2px solid green;
        padding: 5px;
        
        .mood-image {
            
        }
    }
}

