* {
    font-family: 'Roboto', sans-serif;
    h1, h2 {
        font-family: 'Roboto Slab', serif;
    }
}

.container {
    margin-top:5%;
}

.mood-list{
    padding:5px;       
        
    .mood-list{
        padding:5px;
        
        .mood {
            margin-bottom:5%;
        }
    }
}

