

section {
    h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }
    p {
        font-family: 'Open Sans', sans-serif;
    }
}

.container {
    margin-top:2%;
}

.mood-list{
    padding:5px; 
    font-family: 'Shadows Into Light Two', cursive;
    margin: 0 auto;
    h2 {
        font-size: 3em;
    }
        
    .mood-list{
        padding:5px;
        
        .mood {
            margin-bottom:5%;
            max-width: 40%;
        }
    }
}
